#productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;
  
    & .information {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }
  }
  
  .cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2.5rem;
    width: 36rem;
    padding: 1.6rem;
    /* max-width: 1000px; */
    margin: 1.8vh auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.3rem;
    /*border: 0.1rem solid #ccc;
    */
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
  }
  
  .category {
    background-color: #e7d6d6;
    padding: 0.3rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
  }
  
  .productImage {
    max-width: 100%;
    width: 22rem;
    height: auto;
  }
  
  .productPriceElement,
  .productQuantityElement,
  .productStockElement {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    /* flex-wrap: nowrap; */
  }
  
  .productPriceElement {
    margin: 0.8rem 0;
  }
  
  .productProperty,
  .productDescription {
    font-size: 1.6rem;
  }
  /* .productQuantityElement{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
  } */
  
  
  .stockElement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: 0.2rem solid var(--borderColor);
    border-radius: 0.8rem;
    margin: 0.4rem 0;
  
    & button {
      background-color: transparent;
      color: var(--buttonColor);
      font-size: 1.6rem;
      padding: 0.6rem 1rem;
      font-weight: bold;
      border: none;
  
      &:hover {
        cursor: pointer;
      }
  
      &:first-child {
        border-right: 0.1rem solid var(--borderColor);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
  
      &:last-child {
        border-left: 0.1rem solid var(--borderColor);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
    }
  
    .productQuantity {
      padding: 0rem 3rem;
      margin: 0;
      font-weight: bold;
    }
  }
  /**** Our Home product section Ends  ****/
  
  #cartValue {
    background-color: var(--buttonColor);
    color: #fff;
    padding: 1rem 2rem;
  }
  
  .add-to-cart-button,
  .contact-btn,
  .hero-btn a {
    font-weight: 500;
    font: inherit;
    border-radius: 6px;
    border: 0;
    padding: 1rem 2.8rem;
    background-color: var(--buttonColor);
    color: #fff;
    font-size: 1.6rem;
    /* margin-top: 1.2rem; */
  
    &:hover {
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.16),
        inset 0px 0px 0px 3px rgb(51, 51, 51);
      background-color: var(--backgroundColor);
      color: var(--buttonColor);
      cursor: pointer;
    }
  
    .fa-cart-shopping {
      padding-right: 1rem;
    }
  }
  .add-to-cart-button{
    padding: 0.7rem 1.4rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  
  }

  
